{% extends 'info/layout.html' %}

{% load static %}

{% block content %}

<section class="about-section text-center" id="about">
  <div class="container px-4 px-lg-5">
      <div class="row gx-3 gx-lg-4 justify-content-center" style="font-family: 'Jua', sans-serif;">
          <div class="col-lg-8">
              <h2>SIGNUP</h2>
              <hr>
          </div>
      </div>
      <div class="row gx-3 gx-lg-4 justify-content-center" style="font-family: 'Jua', sans-serif; font-size: 1.25rem;">
        <div style="width:500px">  
          <form method="POST" action=".">
            {% csrf_token %} 
            <div class="form-group mb-2">
              <label style="color: #006400;" for="username">사용자이름</label>
              <input
                type="text"
                class="form-control my-2"
                id="username"
                placeholder="사용자이름"
                name="username"
                check_result="fail" required 
              />
            </div>
            <div class="form-group mb-2">
              <label style="color: #006400;" for="email">이메일</label>
              <input
                type="email"
                class="form-control my-2"
                id="email"
                placeholder="이메일"
                name="email"
              />
            </div>
            <div class="form-group mb-2">
              <label style="color: #006400;" for="password">비밀번호</label>
              <input
                type="password"
                class="form-control my-2"
                id="password"
                placeholder="비밀번호"
                name="password"
              />
            </div>
            <div class="form-group mb-2">
              <label style="color: #006400;" for="re_password">비밀번호 재입력</label>
              <input
                type="password"
                class="form-control my-2"
                id="re_password"
                placeholder="비밀번호 재입력"
                name="re_password"
              />
            </div>
            {% if complete %}<div class="mt-2" style="color:rgba(255,0,0,0.5)">{{complete}}</div>{% endif %}
            <div class="mt-5" style="color:rgba(255,0,0,0.5)">{{error}}</div>
            <div class="my-5">
              <button type="submit" class="btn btn-primary mx-4">Submit</button>
              <button type="button" onclick="location.href='/main' " class="btn btn-primary mx-4">Home</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}