{% extends 'info/layout.html' %}

{% load static %}

{% block content %}

<section class="about-section text-center" id="about">
    <!-- Images -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            {% for i in '012345'|make_list %}
                <img style="width: 300px; height: 300px; object-fit: cover;" src="https://aivle-s51.s3.ap-northeast-2.amazonaws.com/image/{{data.name}}{{data.loc}}/{{data.name}}{{data.loc}}{{forloop.counter|add:1}}.jpg" alt="산 이미지가 없습니다 😭" />
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
</section>

{% endblock %}