{% extends 'info/layout.html' %}

{% load static %}

{% block content %}

<!-- About(산 정보)-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-dark mb-4" style="font-family: 'Jua', sans-serif;">{{data.name}}</h1>
                <p class="text-dark-50" style="font-family: 'Jua', sans-serif; font-size: 1.25rem">
                    <b>위치</b> : {{data.loc}} <br>
                    <b>높이</b> : {{data.height}}m <br>
                    {% if data.overview %}
                    {{data.overview}} <br>
                    {% endif %}
                    {% if data.detail %}
                    <br>
                    🔍 <b>상세 설명</b> : <br>
                    {{data.detail}} <br>
                    {% endif %}
                    {% if data.tourism %}
                    <br>
                    📌 <b>관광 정보</b> : <br>
                    {{data.tourism}} <br>
                    {% endif %}
                </p>
            </div>
        </div>
        <img class="img-fluid mb-5" src="{% static 'assets/img/mountain.png' %}" alt="..." />
        <a class="row btn btn-primary" style="font-family: 'Jua', sans-serif; font-size: 1.25rem" href="">리뷰 쓰러 가기</a>
    </div>
</section>
<!-- Projects(추가 정보)-->
<section class="projects-section" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- 인스타 이미지 -->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-lg-10">
                <h2 class="text-dark mb-4" style="font-family: 'Jua', sans-serif;">산 경관</h2>
            </div>
            <a class="col-lg-2 nav-link" style="font-family: 'Jua', sans-serif;" href="">사진 더보기</a>
        </div>
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/demo-image-01.jpg' %}" alt="인스타img1" /></div>
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/demo-image-01.jpg' %}" alt="인스타img2" /></div>
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/demo-image-01.jpg' %}" alt="인스타img3" /></div>
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/demo-image-01.jpg' %}" alt="인스타img4" /></div>      
        </div>

        <!-- 맛집 -->
        <div class="row gx-0 mt-5 mb-4 mb-lg-5 align-items-center">
            <div class="mt-5 col-lg-8">
                <h2 class="text-dark mt-5 mb-4" style="font-family: 'Jua', sans-serif;">맛집 정보</h2>
            </div>
        </div>
        <!-- 카카오API -->
        <div class="row col-lg-10 gx-0 mb-5 mb-lg-0">
            <div class="map_wrap">
                <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
            </div>
            <div id="menu_wrap" class="bg_white">
                <div class="option">
                    <div id="temp"></div>
                </div>
                <hr>
                <ul id="placesList"></ul>
                <div id="pagination"></div>
            </div>
        </div>

        {% if link.link %}
        <!-- 등산경로 -->
        <div class="row gx-0 mt-5 mb-4 mb-lg-5 align-items-center">
            <div class="mt-5 col-lg-8">
                <h2 class="text-dark mt-5 mb-4" style="font-family: 'Jua', sans-serif;">등산 코스</h2>
            </div>
        </div>
        <div class="row col-lg-8 gx-0 mb-5 mb-lg-0 justify-content-center">
            <img class="img-fluid" src={{link.link|cut:'"'}} alt="등산코스플래시" />
        </div>
        {% endif %}
    </div>
</section>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2a2474c6a786e0674d1bff4da6e05024&libraries=services"></script>
<script type="text/javascript">
    var mountain_name = "{{data.name}}";
    var mountain_lat = "{{data.lat}}";
    var mountain_lng = "{{data.lng}}";
    var value = mountain_name + "맛집";

    // 마커를 담을 배열입니다
    var markers = [];

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(mountain_lat, mountain_lng), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };  

    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption); 

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();  

    // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});


    // 키워드로 장소를 검색합니다
    searchPlaces();

    // 키워드 검색을 요청하는 함수입니다
    function searchPlaces() {

        var keyword = value;
        if (!keyword.replace(/^\s+|\s+$/g, '')) {
            alert('키워드를 입력해주세요!');
            return false;
        }

        // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
        ps.keywordSearch( keyword, placesSearchCB); 
    }

    // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
    function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 정상적으로 검색이 완료됐으면
            // 검색 목록과 마커를 표출합니다
            displayPlaces(data);

            // 페이지 번호를 표출합니다
            displayPagination(pagination);

        } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

            alert('검색 결과가 존재하지 않습니다.');
            return;

        } else if (status === kakao.maps.services.Status.ERROR) {

            alert('검색 결과 중 오류가 발생했습니다.');
            return;

        }
    }

    // 검색 결과 목록과 마커를 표출하는 함수입니다
    function displayPlaces(places) {

        var listEl = document.getElementById('placesList'), 
        menuEl = document.getElementById('menu_wrap'),
        fragment = document.createDocumentFragment(), 
        bounds = new kakao.maps.LatLngBounds(), 
        listStr = '';
        
        // 검색 결과 목록에 추가된 항목들을 제거합니다
        removeAllChildNods(listEl);

        // 지도에 표시되고 있는 마커를 제거합니다
        removeMarker();
        

        for ( var i=0; i<places.length; i++ ) {
            // 해당 산 근처가 아닌 맛집이 발견될 수 있으므로 if문 사용해서 거리 기준으로 구분    
            // if ((places[i].y-37.5) + (places[i].x-127) < -2){
                // 마커를 생성하고 지도에 표시합니다
                var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                    marker = addMarker(placePosition, i), 
                    itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                bounds.extend(placePosition);

                // 마커와 검색결과 항목에 mouseover 했을때
                // 해당 장소에 인포윈도우에 장소명을 표시합니다
                // mouseout 했을 때는 인포윈도우를 닫습니다
                (function(marker, title) {
                    kakao.maps.event.addListener(marker, 'mouseover', function() {
                        displayInfowindow(marker, title);
                    });

                    kakao.maps.event.addListener(marker, 'mouseout', function() {
                        infowindow.close();
                    });

                    itemEl.onmouseover =  function () {
                        displayInfowindow(marker, title);
                    };

                    itemEl.onmouseout =  function () {
                        infowindow.close();
                    };
                })(marker, places[i].place_name);

                fragment.appendChild(itemEl);
            // }
        }

        // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
        listEl.appendChild(fragment);
        menuEl.scrollTop = 0;

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
    }

    // 검색결과 항목을 Element로 반환하는 함수입니다
    function getListItem(index, places) {

        var el = document.createElement('li'),
        itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                    '<div class="info">' +
                    '   <h5>' + places.place_name + '</h5>';

        if (places.road_address_name) {
            itemStr += '    <span>' + places.road_address_name + '</span>' +
                        '   <span class="jibun gray">' +  places.address_name  + '</span>';
        } else {
            itemStr += '    <span>' +  places.address_name  + '</span>'; 
        }  

        itemStr += '  <span class="tel">' + places.phone  + '</span>';

        itemStr += '  <span class="food">' + places.category_name  + '</span>' +
                    '</div>'; 
            
        el.innerHTML = itemStr;
        el.className = 'item';

        return el;
    }

    // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
    function addMarker(position, idx, title) {
        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
            imgOptions =  {
                spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
                image: markerImage 
            });

        marker.setMap(map); // 지도 위에 마커를 표출합니다
        markers.push(marker);  // 배열에 생성된 마커를 추가합니다

        return marker;
    }

    // 지도 위에 표시되고 있는 마커를 모두 제거합니다
    function removeMarker() {
        for ( var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
        }   
        markers = [];
    }

    // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
    function displayPagination(pagination) {
        var paginationEl = document.getElementById('pagination'),
            fragment = document.createDocumentFragment(),
            i; 

        // 기존에 추가된 페이지번호를 삭제합니다
        while (paginationEl.hasChildNodes()) {
            paginationEl.removeChild (paginationEl.lastChild);
        }

        for (i=1; i<=pagination.last; i++) {
            var el = document.createElement('a');
            el.href = "#";
            el.innerHTML = i;

            if (i===pagination.current) {
                el.className = 'on';
            } else {
                el.onclick = (function(i) {
                    return function() {
                        pagination.gotoPage(i);
                    }
                })(i);
            }

            fragment.appendChild(el);
        }
        paginationEl.appendChild(fragment);
    }

    // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
    // 인포윈도우에 장소명을 표시합니다
    function displayInfowindow(marker, title) {
        var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

        infowindow.setContent(content);
        infowindow.open(map, marker);
    }

    // 검색결과 목록의 자식 Element를 제거하는 함수입니다
    function removeAllChildNods(el) {   
        while (el.hasChildNodes()) {
            el.removeChild (el.lastChild);
        }
    }

</script>
{% endblock %}