{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 - {{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container d-flex justify-contents-between">
            <a href="/review" class="navbar-brand d-flex align-items-center">
                <strong>게시판</strong>
            </a>
        </div>
    </div>
</header>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }} - {{ post.author }}</h5>
            <h7 class="card-text">{{ post.m_name }} - {{ post.m_loc }}</h7>
            <p class="card-text"><small class="text-muted">{{ post.created_date | date:"Y-m-d h:i" }}</small></p>
            <p class="card-text">{{ post.contents }}</p>
            <img src="{{post.file.url}}" width=200>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-info" href="/review/edit/{{post.id}}" role="button">수정</a>
        </div>
        <div class="col-auto">
            <form id="delete-form" action="/review/delete/{{post.id}}" method="post">
                {% csrf_token %}
                <input type="hidden" name="_method" value="delete"/>
                <button id="delete-btn" type="submit" class="btn btn-danger">삭제</button>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>